@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Montserrat:wght@300;400;700&display=swap');
/*font-family: 'Lora', serif;
  font-family: 'Montserrat', sans-serif;
*/
@font-face {
  font-family: "minecraftfont";
  src: url(/public/fonts/1412/minecraftfont.eot);
  src: local("minecraftfont"), url(http://fontsforweb.com/public/fonts/1412/minecraftfont.ttf) format("truetype");
}
:root{
  --0: #000;
  --1: #00a;
  --2: #0a0;
  --3: #0aa;
  --4: #a00;
  --5: #a0a;
  --6: #fa0;
  --7: #aaa;
  --8: #555;
  --9: #55f;
  --a: #5f5;
  --b: #5ff;
  --c: #f55;
  --d: #f5f;
  --e: #ff5;
  --f: #fff;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  background-image: url("../img/bg_site_op.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: soft-light;
}
   
h1, h2, h3, h4, h5, h6 {
  font-family: 'minecraftfont', serif;
  font-weight: 700;
  line-height: 1.5em;
  color: #fff;
  text-shadow: 3px 3px  black;

}
a:link, a:visited {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 5%;
}
header img{
  display: inline-block;
}
header div{
  display: inline-block;
  text-align: center;
}
header h1{
  font-size: 36px;
}
header h1 span{
  text-shadow: 3px 3px #000;
}
header h1 span:nth-child(1){
  color: var(--1);
}
header h1 span:nth-child(2){
  color: var(--2);
}
header h1 span:nth-child(3){
  color: var(--3);
}
header h1 span:nth-child(4){
  color: var(--4);
}
header h1 span:nth-child(5){
  color: var(--5);
}
header h1 span:nth-child(6){
  color: var(--6);
}
header h1 span:nth-child(7){
  color: var(--7);
}
header h1 span:nth-child(8){
  color: var(--8);
}
header h1 span:nth-child(9){
  color: var(--9);
}
header h2{
  font-size: 18px;
}
header h2 span{
  color: #FFAA00;
  letter-spacing: .3em;
}
main{
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
article{
  width: 1000px;
  height: 80%;
  border-radius: 5px;
  background-color: #999999cc;
  display: flex;
}

.leftBox{
  width: 150px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.options{
  width: 68px;
  display: flex;
  flex-wrap: wrap;
}
.options button{
  background-color: #ddd;
  width: 30px;
  height: 30px;
  margin: 2px;
  box-shadow: 1px 1px 0px 1px #555555;
}
.texts {
  width: calc(1000px - 150px);
  background-color: #555555aa;
}